* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* section1 */
#section1 {
    height: 100%;
    background-image: url('./image/shutterstock_1445888471.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nav1 {
    background-color: #282F44;
}

#logo {
    width: 35px;
    height: 35px;
    border-radius: 25px;
}

#box1 .nav-link {
    color: aliceblue;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    margin-right: 20px;
}

#box1 {

    padding-bottom: 3rem;
}
#box1 .container {
    text-align: center;
    padding: 30vh 2rem;
}

#intro {
    background-color: #191D32;
    padding-top: 5rem;
    padding-bottom: 3rem;
    border-radius: 25px;
    color: aliceblue;
}

#intro h1 {
    font-family: 'Courgette', cursive;
}

#intro strong{
    font-family: 'Courgette', cursive;
    color: #FC7A57;
}

#btn1 {
    color: aliceblue;
    font-family: 'Courgette', cursive;
}

/* end section1 */

/* section2 */
#section2 {
    height: 100%;
    background-image: url('./image/matrix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#box2 {
    padding-bottom: 5rem;
}

#about {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
    color: #FC7A57;
}

#about h1 {
    font-family: 'Lobster', cursive;
    margin-bottom: 2rem;
}

#para1 {
    background-color: aliceblue;
    padding: 2rem 1rem;
    border-radius: 25px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#me-img {
    text-align: center;
}

#box2 img {
    height: 50%;
    width: 60%;
    border: 2px solid #191D32;
}

#name {
    margin-top: 1rem;
    text-align: center;
}

#name strong {
    font-family: 'Bubblegum Sans', cursive;
}

#box2 h2 {
    padding-right: 5px;
    padding-bottom: 1rem;
}

#skill {
    font-family: 'Lobster', cursive;
    color: #FC7A57;
}

.skills {
    border: 2px solid #191D32;
    padding: 2px;
    background-color: #FC7A57;
}

#btn2 {
    font-family: 'Lobster', cursive;
    color: #191D32;
}
/* end of section2 */


/* section 3 */
#section3 {
    height: 100%;
    background-color: #191D32;
    background-size: cover;
}

#box3 {
    padding-bottom: 5rem;
    
}

#box3 h1 {
    padding: 5rem 2rem 3rem 2rem;
    text-align: center;
    color: #FC7A57;
    font-family: 'Lobster', cursive;
}

#box3 h3 {
    text-align: center;
    color: aliceblue;
    font-family: 'Bubblegum Sans', cursive;
}

#box3 h4 {
    font-family: 'Lobster', cursive;
    padding-top: 5px;
}

#box3 p {
    font-family: 'Lobster', cursive;
    padding-bottom: 20px;
}

#box3 #row {
    background-color: aliceblue;
    padding: 2rem 2rem;
    margin-bottom: 3rem;
    border: 1px solid #FC7A57;
}

#box3 #carousel1 {
    border: 1px solid #FC7A57;
}
#box3 #carousel2 {
    border: 1px solid #FC7A57;
    
}
#box3 #carousel3 {
    border: 1px solid #FC7A57;
    
}
/* end of section3 */

/* section4 */
#section4 {
    height: 100%;
    
}

#section4 .container {
    min-height: 100%;
    padding-bottom: 5rem;
}
 #section4 h2{
     padding: 4rem 0rem;
     text-align: center;
     color: #FC7A57;
 }

 #section4 #cont4 {
    font-family: 'Lobster', cursive;
 }

 #section4 #contact {
     text-align: left;
     min-height: 100%;
     margin-top: 2rem;
     margin-bottom: 2rem;
     padding-right: 2rem;
 }

 #section4 h5 {
     padding-bottom: 16px;
     font-family: 'Lobster', cursive;;
 }
 #section4 #contact2 {
     padding-top: 3rem;
 }

 #section4 #footer {
     height: 50px;
     background-color: #282F44;
     text-align: center;
     padding-top: 15px;
 }
/* section4 */


